php/static/XMLocene.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="evidencaocen">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ocene">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ocena">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="idpredmet" type="xs:string" />
                    <xs:element name="predmet" type="xs:string" />
                    <xs:element name="letnik" type="xs:int" />
                    <xs:element name="vrednost" type="xs:int" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="idstudenta" type="xs:unsignedInt" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>