asp.NET/student/student/static/XMLtrans.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="prevodi">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="prevod">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="eng" type="xs:string" />
              <xs:element name="slo" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="attr" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>